@model IEnumerable<Boye.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Categories</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p>
        <a class="btn_2" asp-action="Category">Add New Category</a>
    </p>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th style="min-width: 150px">
                        Name
                    </th>
                    <th style="min-width: 150px">
                        Description
                    </th>
                    <th>
                        Date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="link-primary" asp-action="Item" asp-controller="Shop" asp-route-id="@item.ID">@item.Name</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Desc)
                        </td>
                        <td class="nowrap">
                            @item.DateCreated.ToString("d")
                        </td>
                        <td class="nowrap">
                            @*<a class="link-primary" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |*@
                            <a class="link-primary" onclick="alert('Upgrade Required')">Edit</a> |
                            <a class="link-danger" asp-action="CategoryDelete" asp-route-id="@item.ID" onclick="return(confirm('This process is not reversible\nProceed to delete?'))">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>